body{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(75, 248, 167);
}
.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}